<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="show_sql">false</property>
        <mapping resource="User.hbm.xml"/>
        <mapping resource="Role.hbm.xml"/>
        <mapping resource="Realm.hbm.xml"/>
        <mapping resource="RoleHierarchy.hbm.xml"/>
        <mapping resource="Queries.hbm.xml"/>
    </session-factory>
</hibernate-configuration>
